<h1>PrimeNG - Dropdown Issue</h1>

<p>
  The following dropdown should have the Value <strong>"{{entriesPerPage}} per page"</strong>
</p>
<p-dropdown [styleClass]="'treffer-pro-seite-dropdown'" [options]="dropdownOptions" [(ngModel)]="entriesPerPage"
  optionLabel="label" optionValue="trefferAnzahl" (onChange)="onUpdateEntriesPerPage($event)"
  style="margin-left: auto;"></p-dropdown>
<hr style="margin-top: 3rem; margin-bottom: 3rem;">
<h2>Debug Output</h2>
<div class="debug-output" *ngFor="let output of debugOutput">{{output.message}}</div>